# TODO: Añadir API key del servicio de recetas (ej. Spoonacular, Edamam)
# VITE_RECIPE_API_KEY=tu_api_key_aqui

# TODO: Añadir URL base del backend propio si se implementa
# VITE_API_BASE_URL=https://api.recetariovital.com

# TODO: Añadir clave de pasarela de pago (Stripe, etc.)
# VITE_STRIPE_PUBLIC_KEY=pk_live_xxxxx